#beautiful
    padding: 100px 0
    background-color:rgb(255, 255, 255)
    .box
        h1
            font-weight: 700
            font-size: 70px
            margin-right: 80px
        span
            color: #37b7c3
        h5
            color: #676f8b
            font-size: 20px
            margin: 25px 75px 50px 0
            line-height: 1.3
        .btn
            padding: 13px 30px
            font-size: 20px
            border-radius: 5px
            background-color: #38b6c1
            color: #ffff
        .imgbox
            width: 120px
            margin: 20px 0 10px
        h4
            font-size: 20px

    @media (max-width: 992px)
        .box
            margin: auto
            .textbox
                h1
                    font-size: 60px
                    margin: auto
                    width: 500px
                h5 
                    margin: 30px 0 30px 
            .minibox
                display: flex
                justify-content: center
            h4 
                display: flex
                justify-content: center
                padding-bottom: 50px
    @media (max-width: 479px)
        .box
            margin-left: 150px
            .textbox
                h1
                    font-size: 40px
                    margin-left: 50px
                h5
                    margin-left: 130px
                    width: 350px
        .imgbox
            margin-left: 150px
            width: auto
                
        
        
