#works
    padding: 50px 0
    h1
        font-weight: 700
        font-size: 70px
        color: #36b3bd
        margin-bottom: 60px
    .box
        .imgbox
            width: 350px
        .textbox
            padding: 35px 55px
            h2
                font-weight: 700
                font-size: 25px
                margin-bottom: 9px
            h4
                font-size: 20px
                color: #676f8b
                line-height: 1.3
    @media (max-width: 991px)
        h1
            font-size: 50px
        .imgbox
            margin: auto
        .textbox
            h4
                margin: auto
                width: 400px
    @media (max-width: 479px)
        h1
            font-size: 60px
            width: 400px
            margin-left: 120px
        .imgbox
            margin-left: 220px
        .textbox
            margin-left: 150px

