body {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
}

.imgbox {
  overflow: hidden;
}
.imgbox img {
  width: 100%;
}

header {
  padding: 20px 0;
  width: 100%;
}
header .imgbox {
  width: 40px;
}
header .menu nav a {
  font-size: 20px;
  color: #160d40;
  margin-right: 30px;
}
header .menu nav .home-color {
  color: #74bebc;
}
header .menu .btn {
  display: none;
}
header .menu .btnblue {
  display: none;
}
@media (max-width: 992px) {
  header .menu nav {
    display: none;
  }
  header .menu .btn {
    display: flex;
    border: 2px solid #c3c0c0;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    background-color: #f3efef;
    font-size: 30px;
  }
}
@media (max-width: 479px) {
  header .menu {
    margin-left: 120px;
    width: 100%;
  }
  header .menu .btnblue {
    display: flex;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px;
    background-color: #3cd8fb;
    font-size: 20px;
    margin-left: 300px;
  }
  header .menu .btn {
    font-size: 20px;
  }
}

#beautiful {
  padding: 100px 0;
  background-color: rgb(255, 255, 255);
}
#beautiful .box h1 {
  font-weight: 700;
  font-size: 70px;
  margin-right: 80px;
}
#beautiful .box span {
  color: #37b7c3;
}
#beautiful .box h5 {
  color: #676f8b;
  font-size: 20px;
  margin: 25px 75px 50px 0;
  line-height: 1.3;
}
#beautiful .box .btn {
  padding: 13px 30px;
  font-size: 20px;
  border-radius: 5px;
  background-color: #38b6c1;
  color: white;
}
#beautiful .box .imgbox {
  width: 120px;
  margin: 20px 0 10px;
}
#beautiful .box h4 {
  font-size: 20px;
}
@media (max-width: 991px) {
  #beautiful .box {
    margin: auto;
  }
  #beautiful .box .textbox h1 {
    font-size: 60px;
    margin: auto;
    width: 500px;
  }
  #beautiful .box .textbox h5 {
    margin: 30px 0 30px;
  }
  #beautiful .box .minibox {
    display: flex;
    justify-content: center;
  }
  #beautiful .box h4 {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
  }
}
@media (max-width: 479px) {
  #beautiful .box {
    margin-left: 220px;
  }
  #beautiful .imgbox {
    margin-left: 150px;
    width: auto;
  }
}

#thehome {
  padding: 80px 0 0 50px;
  background-color: #f1f8f9;
}
#thehome .textbox h1 {
  color: #36b3bd;
  font-size: 60px;
  font-weight: 700;
  width: 400px;
}
#thehome .textbox h5 {
  color: #676f8b;
  font-size: 20px;
  margin: 25px 75px 50px 0;
  line-height: 1.3;
}
#thehome .textbox .btn {
  padding: 13px 30px;
  background-color: #38b6c1;
  color: white;
  font-size: 20px;
  border-radius: 5px;
}
#thehome .imgbox {
  width: 520px;
  background-color: #6c2f30;
}
@media (max-width: 991px) {
  #thehome .textbox {
    padding-bottom: 50px;
    text-align: center;
  }
  #thehome .textbox h1 {
    margin-left: 150px;
  }
  #thehome .textbox h5 {
    margin-left: 60px;
  }
  #thehome .imgbox {
    width: auto;
    margin-left: 10px;
  }
}
@media (max-width: 479px) {
  #thehome .textbox h5 {
    margin: 35px 0 35px 40px;
  }
  #thehome .textbox h1 {
    padding-right: 60px;
  }
  #thehome .textbox .btn {
    margin-left: 40px;
  }
  #thehome .imgbox {
    width: 520px;
    margin: 30px 0 30px 150px;
  }
}

#works {
  padding: 50px 0;
}
#works h1 {
  font-weight: 700;
  font-size: 60px;
  color: #36b3bd;
  margin-bottom: 60px;
}
#works .box .imgbox {
  width: 350px;
}
#works .box .textbox {
  padding: 35px 55px;
}
#works .box .textbox h2 {
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 9px;
}
#works .box .textbox h4 {
  font-size: 20px;
  color: #676f8b;
  line-height: 1.3;
}
@media (max-width: 991px) {
  #works h1 {
    font-size: 40px;
  }
  #works .imgbox {
    margin: auto;
  }
  #works .textbox h4 {
    margin: auto;
    width: 400px;
  }
}
@media (max-width: 479px) {
  #works .textbox h1 {
    display: flex;
    justify-content: center;
  }
}

#browse {
  background-color: rgb(251, 251, 251);
}
#browse .textbox {
  width: 500px;
  text-align: center;
}
#browse .textbox h1 {
  font-weight: 700;
  font-size: 60px;
  color: #3cc1d8;
}
#browse .textbox h4 {
  font-size: 20px;
  color: #6c7480;
  margin: 20px 0;
  line-height: 1.2;
}
#browse .textbox h4 span {
  color: #3cc1d8;
  text-decoration-line: underline;
}
#browse .btn {
  font-size: 18px;
  border: 0.5px solid #bdbdbd;
  padding: 15px 46px;
  margin: 0 20px;
  border-radius: 5px;
}
#browse .bgc {
  background-color: #3cc1d8;
  color: white;
}
#browse .box {
  padding: 30px;
  background-color: #ffffff;
}
#browse .box .imgbox {
  width: 150px;
  border-radius: 10px;
}
#browse .box .textbox {
  text-align: left;
  width: auto;
  margin-left: 20px;
}
#browse .box .textbox .minibox h2 {
  font-size: 22px;
  font-weight: 700;
}
#browse .box .textbox .minibox h5 {
  color: #3cc1d8;
  font-size: 18px;
}
#browse .box .textbox p {
  margin: 15px 0;
  font-size: 18px;
  line-height: 1.2;
  color: rgba(35, 47, 66, 0.5215686275);
}
#browse .box .textbox .add {
  display: flex;
}
#browse .box .textbox .add input {
  border: 1px solid #e1e1e1;
  background-color: #e9e9e9;
  width: 50px;
}
#browse .box .textbox .add .btn {
  background-color: #3cc1d8;
  color: white;
  padding: 7px 20px;
}
#browse .big {
  padding: 17px 53px;
  margin-top: 50px;
}
@media (max-width: 992px) {
  #browse .textbox {
    width: 500px;
  }
  #browse .textbox h1 {
    font-size: 40px;
  }
  #browse .textbox {
    margin-right: 27px;
  }
}

#order {
  padding: 50px 0;
}
#order .imgbox {
  width: 600px;
}
#order .textbox h1 {
  font-size: 60px;
  font-weight: 700;
  color: #36b3bd;
}
#order .textbox h5 {
  color: #676f8b;
  font-size: 20px;
  margin: 25px 75px 50px 0;
  line-height: 1.3;
}
#order .textbox .btn {
  color: white;
  font-size: 20px;
  background-color: #38b6c1;
  padding: 13px 34px;
  border-radius: 5px;
}
@media (max-width: 992px) {
  #order .imgbox {
    margin: auto;
  }
  #order .textbox {
    text-align: center;
  }
  #order .textbox h1 {
    font-size: 50px;
    width: 350px;
    margin: auto;
  }
  #order .textbox h5 {
    margin-left: 130px;
  }
}

#callour {
  padding: 50px 0;
  background-color: #f1f8f9;
}
#callour .textbox h1 {
  font-size: 65px;
  font-weight: 700;
  color: #36b3bd;
}
#callour .textbox h5 {
  color: #676f8b;
  font-size: 20px;
  margin: 25px 75px 50px 0;
  line-height: 1.3;
}
#callour .textbox .btn {
  font-size: 20px;
  color: white;
  background-color: #38b6c1;
  padding: 13px 34px;
}
#callour .imgbox {
  width: 520px;
}
@media (max-width: 992px) {
  #callour .textbox {
    padding-bottom: 50px;
    text-align: center;
  }
  #callour .textbox h1 {
    font-size: 50px;
    width: 350px;
    margin: auto;
  }
  #callour .textbox h5 {
    margin-left: 130px;
  }
  #callour .imgbox {
    width: auto;
  }
}

#support {
  padding: 50px 0;
}
#support .textbox h1 {
  font-size: 60px;
  font-weight: 700;
  color: white;
  margin: 0 70px 0 40px;
  line-height: 1.1;
}
#support .textbox span {
  color: rgba(36, 102, 114, 0.5137254902);
}
#support .textbox .btn {
  font-size: 22px;
  color: #38b6c1;
  background-color: white;
  padding: 10px 30px;
  margin: 30px 0 0 40px;
}
#support .bgc {
  background-color: #35b6c1;
}
@media (max-width: 992px) {
  #support .imgbox {
    width: 715px;
    height: 300px;
    margin: 0 0 21px -10px;
  }
  #support .textbox {
    padding: 50px 0 50px 0;
    width: 500px;
  }
  #support .textbox h1 {
    font-size: 50px;
  }
}/*# sourceMappingURL=style.css.map */